.header {
  margin: 1rem 4.5rem;
}

.header__content {
  height: 4em;
  border-bottom: 1px solid #686868;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  object-fit: contain;
  width: 6.25em;
}
